* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}


body {
line-height: 1.6;
}


.navbar {
display: flex;
justify-content: space-between;
align-items: center;
background: #333;
padding: 15px 20px;
}


.logo {
color: #fff;
}


.nav-links {
list-style: none;
display: flex;
}


.nav-links li {
margin-left: 20px;
}


.nav-links a {
color: #fff;
text-decoration: none;
}


.nav-links a:hover {
text-decoration: underline;
}


.hero {
padding: 40px 20px;
text-align: center;
}


.hero img {
max-width: 100%;
margin-top: 20px;
}


.content {
padding: 40px 20px;
}


footer {
background: #333;
color: #fff;
text-align: center;
padding: 15px 0;
width: 100%;
position: fixed;
bottom: 0;
}